/*css moudule 用法demo   只针对类名，ID相关样式,不使用其他选择器*/

/*local*/
.bg {
  background: red;
}
/*global*/
// :global(.font) {
//   color: green;
// }
/*composition  也可从其他模块导入   形如composes: className from './another.css';*/
$font-Size:18px;
.btn {
  composes: bg;
  color: yellow;
}
.www{
  color:blue;
}
.app{
  line-height: 30px;
  .sss{
    width: 30px;
    div{
      height: 100px;
      font-size: $font-Size;
    }
  }
}