/*css moudule 用法demo   只针对类名，ID相关样式,不使用其他选择器*/


/*local*/

.bg {
  background: red;
}


/*global*/

:global {
  .pic {
    background: url('../../images/contain-pc.png') no-repeat;
    background-size: 300px auto;
    width: 300px;
    height: 300px;
  }
  .font {
    color: green;
  }
}


/*composition  也可从其他模块导入   形如composes: className from './another.css';*/

.btn {
  composes: bg;
  color: yellow;
}


/*使用scss嵌套语法 但是一般没有必要*/

.app {
  line-height: 30px;
  .sss {
    width: 30px;
    div {
      height: 100px;
    }
  }
}