  .yo-toast {
            position: fixed;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            min-width: 1rem;
            max-width: 90%;
            z-index: 1500;
            height: 3rem;
            padding: 20px 10px;
            border-radius: .05rem;
            background-color: rgba(0, 0, 0, .5);
            color: #fff;
        }